.competence-contener{
    padding: 20px;
    padding: 0px;
    width: 100%;
    display:    flex;
    flex-direction: column;
    align-items: center;
}


.anim-competence-contener{
    display: inline-block;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
}

